#content
  Todo List
  %table{ :class => "table table-striped table-bordered table-hover"}
    %tr
      %th Description
      %th Days left
      %th complete
    - if @todos
      - @todos.each do |item|
        %tr{ :class => "row-#{item.id}" }
          %td= item.description
          %td= item.time_left
          %td= check_box_tag("#{item.id}", 'yes', false, class:"checkbox")
    %tr
      %td= link_to("Create new todo", new_todo_path)
      %td
      %td
